<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift03-login.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>02F3D4971D5BB9040074EA73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02F3D4AB1D5BB9050074EA73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02F3D4B61D5BB9050074EA73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
