<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift04-autolayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>02F3D4D11D5BBC9B0074EA73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02F3D4E51D5BBC9B0074EA73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02F3D4F01D5BBC9B0074EA73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
